<div class="wrapper">
    <div id="num1">
        Primary Number: <input type="text" id="num1" #num1>
    </div>
    <div id="num2">
        Secondary Number: <input type="text" id="num2" #num2>
    </div>
    <div id="result">
        Result: <input class="display" type="text" id="result"  placeholder="{{result}}">
    </div>
    <div class="row" id="buttons">
        <input type="button" value="Add" (click)="addOperation(num1.value,num2.value)"/>
        <input type="button" value="Sub" (click)="subOperation(num1.value,num2.value)"/>
        <input type="button" value="Mul" (click)="mulOperation(num1.value,num2.value)"/>
        <input type="button" value="Div" (click)="divOperation(num1.value,num2.value)"/>
    </div>
</div>