* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* until later */
    
    font-family: Helvetica, Arial, sans-serif;
}

/* apply style to <header> */
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 20px 35px;
    background-color: #0F0E11;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/hero-bg.jpg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

/* font and margin */
header h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

/* moves nav bar text to the right*/
header nav {
    margin: 7px 0px;
}

/* Makes text run inline instead of a list */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

header nav ul li a:hover {
    background: #fce138;
    color: #024e76;
    border-radius: 15px;
    text-shadow: none;
  }
  


/* Moves text within the background color of the title*/
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

/* Footer background */
footer {
    display: flex;
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* --hero section -- */
section {
    padding: 60px;
}

/*  Hero style start*/

/* Homepage hero */
.hero {
    background-image: url(../images/hero.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}
/* hero call to action */
.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: rgb(250, 234, 15);
    font-size: 18px;
    line-height: 1.3;
    
  }
  .hero-cta h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-style: italic;
    font-size: 55px;
    color: #fce138;
  }

/* secondary page hero */
.hero-secondary {
    margin: 20px;
    background-color: black;
    font-size: 20px;
    color: red;
  }
/* Hero form style */
.hero-form {
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fce138;
    padding: 20px;
    color: #23252D;
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    width: 40%;
    margin: 3.5%;
}

.hero-form h3 {
    font-size: 24px;
    margin: 0px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border-radius: 10px;
    border: 1px solid #23252D;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
    background-color: rgba(255,255,255, 1);
  }

.hero-form label {
    margin: 0 5px;
}

/* Register button */
.hero-form button {
    border-radius: 10px;
    color: #fff;
    background-color: #3A3C44;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.hero-form button:hover {
    background-color: #2B2D35;  
  }
  

/* HERO STYLE END */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
    }
  
    header h1 {
      
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    .hero-cta, .hero-form {
        width: 100%;
      }
      
    .hero-cta {
        text-align: center;
      }
    .section-title {
        width: 80%;
      }
   
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {

    section {
      padding: 30px 15px;
    }
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    .hero-form button {
      width: 100%;
    }

    .intro p {
      width: 100%;
    }

  }