<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="../../assets/Dustin.jpg" class="card-img-top" width="300" height="300">
                <div *ngFor="let employee of employee1" class="card-body">
                    <h5 class="card-title">{{employee.employeeName}}</h5>
                    <p class="card-text">ID: {{employee.employeeId}}</p>
                    <p class="card-text">Title: {{employee.employeeTitle}}</p>
                    <p class="card-text">Salary: {{employee.employeeSalary}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div *ngFor="let employee of employee2" class="card">
                <img src="../../assets/David.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title">{{employee.employeeName}}</h5>
                    <p class="card-text">ID: {{employee.employeeId}}</p>
                    <p class="card-text">Title: {{employee.employeeTitle}}</p>
                    <p class="card-text">Salary: {{employee.employeeSalary}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../assets/James.jpg" class="card-img-top"  width="300" height="300">
                <div *ngFor="let employee of employee3" class="card-body">
                    <h5 class="card-title">{{employee.employeeName}}</h5>
                    <p class="card-text">ID: {{employee.employeeId}}</p>
                    <p class="card-text">Title: {{employee.employeeTitle}}</p>
                    <p class="card-text">Salary: {{employee.employeeSalary}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div *ngFor="let employee of employee4" class="card">
                <img src="../../assets/Linus.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title">{{employee.employeeName}}</h5>
                    <p class="card-text">ID: {{employee.employeeId}}</p>
                    <p class="card-text">Title: {{employee.employeeTitle}}</p>
                    <p class="card-text">Salary: {{employee.employeeSalary}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div *ngFor="let employee of employee5" class="card">
                <img src="../../assets/Bjarne.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title">{{employee.employeeName}}</h5>
                    <p class="card-text">ID: {{employee.employeeId}}</p>
                    <p class="card-text">Title: {{employee.employeeTitle}}</p>
                    <p class="card-text">Salary: {{employee.employeeSalary}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div *ngFor="let employee of employee6" class="card">
                <img src="../../assets/Rushabh.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title">{{employee.employeeName}}</h5>
                    <p class="card-text">ID: {{employee.employeeId}}</p>
                    <p class="card-text">Title: {{employee.employeeTitle}}</p>
                    <p class="card-text">Salary: {{employee.employeeSalary}}</p>
                </div>
            </div>
        </div>
    </div>
</div>