<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="../../assets/Dustin.jpg" class="card-img-top" width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../assets/David.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../assets/James.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../assets/Linus.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../assets/Bjarne.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img src="../../assets/Dustin.jpg" class="card-img-top"  width="300" height="300">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>